@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: auto;
    max-height: 100vh;
}

header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    padding: 50px 20px;
    color: white;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    margin-bottom: 20px;
}

.overlay {
    max-width: 102%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28666e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #1f4d5a;
}

.button-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.profile-image[_ngcontent-ng-c3528269842] {
    width: 90%;
    height: 12%;
    object-fit: cover;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    /* Adjust based on your header height */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 50px;
    padding-bottom: 10%;
}

.article-container {
    max-width: 800%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 85rem;
}